.containsLi{
    display: flex;
    justify-content: space-between;
    width: 327px;
    height: 100px;
    align-items: center;
    top: 40px;
    margin-top: 25px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 17px 17px 26px 17px rgba(0,0,0,0.1);
}
.checkButton{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #61DAFA;
    border: none;
    position: relative;
    right: 10px;
    top: 20px;
    text-align: center;
    color: white;
}
.nonButton{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: red;
    position: relative;
    left: 10px;
    bottom: 20px;
    text-align: center;
    color: white;
}
.checkButton:hover{
    cursor: pointer;
    background-color:white;
    color: #61DAFA;
}
.nonButton:hover{
    cursor: pointer;
    background-color: white;
    color: red;
}
.checkButton-active {
    background-color:white;
    color: #61DAFA;
}
.parrafo-active{
    text-decoration: line-through;
}
