.containUl{
    width: 327px;
    height: 372px;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}